@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    /* Fonts */
    --f: 'Fira Sans', sans-serif;
    --hf: 'Fira Sans', sans-serif;
    --f2: 'Open Sans', sans-serif;
    --hf2: 'Roboto', sans-serif;

    /* My stuff */
    --primary_dark: #353b43;
    --secondary_dark: #242930;
    --tertiary_dark: #222;
    --shadow: #bbb;
    --shadow-dark: #666;
    --text_green: #57cc8a;
    --text_grey: #AFBAC4;

    /* extra */
    --nav_margin: 6px;

    /* speed */
    --btn_transition_speed: 0.6s
}

body {
    font-family: var(--f2); /* Use Open Sans for paragraphs */
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    color: var(--text_grey);
    background-color: var(--primary_dark);
    text-align: center;
    margin-top: 0;
    font-size: 16px; /* Default font size */
}

.content {
    text-decoration: none;
    /* display: flex; */
    flex: 1 0 auto; 
    width: 100%;
    margin: 0;
    text-align: center;
    color: var(--text_grey);
}

.navbar {
    flex: 0 0 auto;
    margin-top: 0;
    font-size: 160%;
    text-align: center;
    background-color: var(--secondary_dark);
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.5s ease; /* Adjust the 0.5s to control the speed */
    border-radius: 0 0 8px 8px;
}
.profile_navbar {
    /* flex: 0 0 auto;*/
    margin-top: 0;
    font-size: 160%;
    text-align: center;
    background-color: var(--secondary_dark);
    /* padding-top: 30px;
    padding-bottom: 30px; */
    padding: 30px 18px;
    /* padding: 30px 0; */
    /* position: fixed; */
    top: 0;
    /*left: 0; */
    /* width: 100%; */
    /* z-index: 1000; */
    /* transition: top 0.5s ease; Adjust the 0.5s to control the speed */
    /* border-radius: 0 0 8px 8px; */
}

h1 {
    color: var(--text_green);
    font-family: var(--hf2); /* Use Roboto for headers */
    font-size: 30px; /* Default font size */
    margin: 12px 30px;
    text-align: left;
}
h2 {
    color: var(--text_grey);
    font-family: var(--f2); /* Use sans for h2 */
    font-size: 20px; /* Default font size */
    margin: 5px 10px;
}
h4 {
    color: var(--text_grey);
    font-family: var(--f2); /* Use sans for h2 */
    font-size: 16px; /* Default font size */
    margin: 12px 10px;
}

p {
    font-family: var(--f2); /* Use Open Sans for paragraphs */
    width: 80%;
    font-size: 18px; /* Default font size */
    text-align: left;
    margin: 12px 30px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--text_green);
    text-decoration: none;
}

/* table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aquamarine;
} */

th,
td {
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
}

.nav_btn:hover,
.btn_on_page:hover{
     background: var(--primary_dark);
    color: var(--text_green); 
     box-shadow: 2px 2px var(--shadow); 
     box-shadow: 2px 0 var(--shadow-dark);
 }

/* .nav_btn:hover, .nav_btn:hover a,
.btn_on_page:hover, .btn_on_page:hover a {
    background: var(--primary_dark);
    color: var(--text_green);
    box-shadow: 2px 0 var(--shadow-dark);
    color: var(--text_green); /* Ensures the link turns green */
/* }  */

.btn_on_page {
    border: 0.5px solid var(--tertiary_dark);
    border-radius: 6px;
    padding: 2.4px 9.6px 0;
    margin: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--tertiary_dark);
    color: var(--text_green);
    transition: background-color var(--btn_transition_speed), color var(--btn_transition_speed);
}

.nav_btn {
    font-family: var(--hf2); /* Use Roboto for nav buttons */
    border: 0.5px solid var(--tertiary_dark);
    border-radius: 6px;
    padding: 2.4px 9.6px 0;
    margin: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--tertiary_dark);
    box-shadow: 2px 2px var(--shadow);
    transition: background-color var(--btn_transition_speed), color var(--btn_transition_speed);
}

.ja-button {
    position: fixed; /* Keep the button fixed in place */
    top: 5px; /* Position the button from the top */
    right: 5px; /* Position the button from the right */
    padding: 6px 16px; /* Adjusts the space inside the button: top-bottom, left-right */
    background-color: #242930; /* Button background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounds the corners of the button */
    cursor: pointer; /* Pointer cursor on hover */
    z-index: 1100; /* Ensure the button stays on top */
    font-size: 12px; /* Adjust the text size */
    text-align: center; /* Center the text horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block; /* Ensure the button sizes to its content */
}

.ja-button:hover, .ja-button:hover a {
    background-color: #ff3e3e; /* Darker shade for hover effect */
    color: white;
}

footer {
    width: 100%;
    /* background-color: #203457; */
    position: fixed; /* Sticks the footer at the bottom */
    bottom: 0; /* Aligns the footer to the bottom */
    /* left: 0; */
    z-index: 1000; /* Ensures the footer stays on top */
    text-align: center;
}

footer p {
    font-size: 10px; /* Specify the unit */
    width: 100%;
    color: #D8DEE9; /* Text color */
    padding: 10px 0;
}

footer img {
    font-size: 10px; /* Specify the unit */
}


/* Styles for tablets and smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    .navbar {
        font-size: 140%;
    }

    .nav_btn {
        padding: 2.4px 8px 0;
        margin: 3px;
    }
}

/* Styles for mobile phones */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .navbar {
        font-size: 120%;
    }

    .nav_btn {
        padding: 2px 6px 0;
        margin: 2px;
    }
}