/* Declare CSS vars */
:root {
    /* Fonts */
    --f: 'Merriweather', serif;
    --hf: 'Gloock', serif;

    /* Colors */
    --primary-light: #ebf4f0;
    --stroke: #222;
    --shadow: #bbb;
    --shadow-dark: #666;
    --bg: #222;
    --highlight: #F5C86F;
    --text: #fff;
    --primary_dark: #353b43;
    --secondary_dark: #242930;
    --text_green: #57cc8a;
    --text_grey: #AFBAC4;
    --text_white: white;

}
body {
    font-family: sans-serif;
    /*background-image: url(/assets/images/space/space.jpeg);*/
    /*background-repeat: no-repeat; /*image wont repeat itself*/
    /*background-attachment: fixed; /*ensure that element is always covered*/
    /*background-size: cover; /*cover the entire body element*/
    background-color: var(--primary_dark);
    text-align: center;
}
ul#navbar {
    display:inline;
    /* Any other CSS you want */
}
ul#navbar li {
    display:inline;
    font-size: 120%;
    padding: 10%;
    text-align: center;
    color: white;
}
div{
    margin: auto;
    background-color: var(--secondary_dark);
}
h1{
    color: var(--text_green);
    font-family: roboto;
    font-size: 30px;
}
p{
    color: auto;
    font-family: auto;
    font-size: 20px;
}
a:link, :visited{
    color: black;
    text-align: center;
    text-decoration: none;
}
a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color: fuchsia;
    background-color: transparent;
    text-decoration: none;
}
table, th, td{                          /*CSS styling with style property to add border*/
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aquamarine;
}
th, td{
    border-radius: 10px;
    border-style: none;                 /*can be dotted or slashed if u want. many other options like colour, etc*/
}
.btn {
    border: 0.5px solid var(--stroke);
    border-radius: 0;
    padding: .15rem .6rem 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: var(--bg);
    box-shadow: 2px 2px var(--shadow);
    transition: none;
    color: var(--text);
}

.btn.disabled {
    box-shadow: none;
    opacity: 0.3;
    cursor: not-allowed;
}

.btn:hover {
    background: var(--primary);
    box-shadow: 2px 2px var(--shadow-dark);
    color: white;
}