/* Declare CSS vars */
:root {
    /* Fonts */
    --f: 'Merriweather', serif;
    --hf: 'Gloock', serif;

    /*My stuff*/
    --primary_dark: #353b43;
    --secondary_dark: #242930;
    --tertiary_dark: #222;
    --shadow: #bbb;
    --shadow-dark: #666;
    --text_green: #57cc8a;
    --text_grey: #AFBAC4;

    /*extra*/
    --nav_margin: 6px;
    
}
body {
    font-family: sans-serif;
    color: var(--text_grey);
    background-color: var(--primary_dark);
    text-align: center;
    margin-top: 0;
}
div {
    /*margin: 0 auto;*/
    text-align: center;
    color: var(--text_grey);
}
/*.navbar {
    display:inline;
    font-size: 160%;
    text-align: center;
    background-color: var(--secondary_dark);
    /*position: fixed;*/
   /* top: -10;
    width: 100%;
    padding: 20px;
    padding-inline: 0;
    /*color: var(--text_white);*/
    /* Any other CSS you want */
/*}*/
.navbar {
    background-color: #333;
    color: #fff;
    font-size: x-large;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header is on top of other content */
  }
h1 {
    color: var(--text_green);
    font-family: roboto;
    font-size: 30px;
}
p {
    font-family: auto;
    font-size: 20px;
    text-align: center;
    color: var(--text_grey);
}
a:link, :visited {
    /*color: var(--text_white);*/
    text-decoration: none;
    color: white;
}
a:hover, :active {
    color: var(--text_green);
    background-color: transparent;
    text-decoration: none;
}
table, th, td {                          /*CSS styling with style property to add border*/
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aquamarine;
}
th, td {
    border-radius: 10px;
    border-style: none;                 /*can be dotted or slashed if u want. many other options like colour, etc*/
}

/*.btn.disabled {
    box-shadow: none;
    opacity: 0.3;
    cursor: not-allowed;
}*/

.nav_btn:hover, .btn_on_page:hover {
    background: var(--primary_dark);
    padding: 2.4px 9.6px 0;
    /*padding-inline: 0;*/
    margin: 4px;
    box-shadow: 2px 2px var(--shadow-dark);
    /*color: var(--text_white);*/
    color: var(--text_green);
}

.btn_on_page {
    border: 0.5px solid var(--tertiary_dark);
    border-radius: 6px;
    padding: 2.4px 9.6px 0;
    /*padding-inline: 0;*/
    margin: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--tertiary_dark);
    /*box-shadow: 2px 2px var(--shadow);*/
    color: var(--text_green);
    transition: none;
}
.nav_btn {
    border: 0.5px solid var(--tertiary_dark);
    border-radius: 6px;
    padding: 2.4px 9.6px 0;
    /*padding-inline: 0;*/
    margin: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: var(--tertiary_dark);
    box-shadow: 2px 2px var(--shadow);
    /*color: var(--text_white);*/
    transition: none;
}
.light-mode {
    background-color: white;
    color: black;
  }