body {
    background-image: url(/assets/images/space/space.jpeg);
    background-repeat: no-repeat; /*image wont repeat itself*/
    background-attachment: fixed; /*ensure that element is always covered*/
    background-size: cover; /*cover the entire body element*/
    background-color: #222;
    text-align: center;
    z-index: 2;
}
div{
    margin: auto;
}
h1{
    color: violet;
    font-family: roboto;
    font-size: 30px;
    z-index: 1;
}